p{
    align-items: center;
    text-align:center;
    justify-content:center;
    flex-direction: column;
    font-size: 20pt;
}

a:first-child{
    color: black;
    padding: 20px;
    background-color:rgb(62, 164, 231) ;
    
}

a{
    text-decoration: none;
    flex-direction: row;
    justify-content:space-evenly;
}

table{
    flex-wrap: wrap;
    border : solid 5px black;
    font-family: sans-serif;
    font-weight: bold;
    vertical-align: middle;
    
}